.heading{
    color: salmon;
    width: 400px;
}
.changebtn{
    color: #fff !important;
    background-color: salmon !important;
    border-radius: 25px !important;
    letter-spacing: 0 !important;
    padding: 10px !important;

}
.dialogbtn{
    position: absolute;
    top: 60px;
    right: 100px !important;
    height: 40px;
    width: 150px;
    
    opacity: 0;
    z-index: 100;
}