.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgba(245, 22, 7, 0.847); */
}
.search{
    display: flex;
    align-items: center;
    border: 2px solid rgba(192, 190, 190, 0.555);
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    width: 330px !important;
    cursor: pointer;
}
.searchText{
    background-color: #fff;
    /* color: rgba(144, 144, 144, 0.527); */
    height: 10px;
    width: 320px;
    border: none;
    outline: none;
}
  .contactList{
      display: flex;
      align-items: center;
      justify-content: space-between;
      
  }  
.name{
    display: flex;
    flex-direction: column;
    font-weight: 400 !important;
    margin: 10px;
    
}
.number{
    display: flex;
    flex-direction: column; 
}
.listText{
    margin-top: 15px;
    color:rgb(110, 108, 108);
    font-size: 15px;
    margin-right: 10px;
}

.keypad{
    font-size: 35px !important;
    position: absolute;
    bottom: 115px;
    left: 525px;
    color: rgb(46, 44, 44);
    cursor: pointer;
}

























